{% extends 'MasterAdminBundle::layout.html.twig' %}

{% block head_title %}Отзывы{% endblock %}

{% block body_content %}
    <div class="page-header"><h1>Отзывы</h1></div>
    <a href="{{ url('admin_review_add') }}" class="btn btn-success">Добавить новый отзыв</a><br><br>
    {% for review in reviews %}
        <p>
            <img src="{{ asset(review.image.path|e) }}" height="100px">
            <a href="{{ url('admin_review_edit', {'review': review.id}) }}">{{ review.name|e }}</a>, {{ review.to|e }}, {{ review.short|e }}
        </p>
    {% else %}
        <p>Нет отзывов</p>
    {% endfor %}
{% endblock %}