<div id="header">
    {% set url = app.request.get('_route') != 'site_general_index' ? url('site_general_index') : 'javascript:void(0);' %}
    <a href="{{ url }}" class="logo">Туристическое агентство</a>
    <ul id="menu" class="text-center">
        {% spaceless %}
            <li{% if menu_active == 'index' %} class="active"{% endif %}>
                <a href="{{ url('site_general_index') }}">Туры</a>
                {% if menu_active == 'index' %}<div class="active"></div>{% endif %}
            </li>
            <li{% if menu_active == 'visa' %} class="active"{% endif %}>
                <a href="{{ url('site_general_visa') }}">Визы</a>
                {% if menu_active == 'visa' %}<div class="active"></div>{% endif %}
            </li>
            <li{% if menu_active == 'flights' %} class="active"{% endif %}>
                <a href="{{ url('site_general_flights') }}">Авиабилеты</a>
                {% if menu_active == 'flights' %}<div class="active"></div>{% endif %}
            </li>
            <li{% if menu_active == 'booking' %} class="active"{% endif %}>
                <a href="{{ url('site_general_booking') }}">Онлайн-бронь</a>
                {% if menu_active == 'booking' %}<div class="active"></div>{% endif %}
            </li>
            <li{% if menu_active == 'contacts' %} class="active"{% endif %}>
                <a href="{{ url('site_general_contacts') }}#contacts">Контакты</a>
                {% if menu_active == 'contacts' %}<div class="active"></div>{% endif %}
            </li>
        {% endspaceless %}
    </ul>
    <div class="contacts">
        <div class="phone"><a href="tel:+78007751257">8 800 775-12-57</a></div>
        <div class="timetable">пн-пт, с 10:00 до 19:00</div>
        <div class="order">
            <a href="javascript:void(0);"
               data-modal-caption="Заказать обратный звонок"
               data-modal-subcaption="Пожалуйста, оставьте свои контактные данные: мы свяжемся с Вами в ближайшее время с 10 до 19 часов"
               data-modal-from="Заказ звонка в шапке сайта"
               class="show-modal">
                Заказать обратный звонок
            </a>
        </div>
    </div>
</div>