<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Мастер эмоций</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="const-se.ru">
    <link rel="stylesheet" href="{{ asset('/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/landing.css') }}">
    <script src="{{ asset('/js/jquery-1.11.2.min.js') }}"></script>
    <script src="{{ asset('/js/bootstrap.min.js') }}"></script>
    {% block head_additions %}{% endblock %}
</head>
<body>
    <div class="container">
        <div id="header" class="header{{ landing|e }}" style="background-image: url('{{ land.forLanding.path|e }}');">
            <a href="{{ url('site_general_index') }}" class="logo">Туристическое агентство</a>
            <h1>{{ land.landH1|raw }}</h1>
            <h2>{{ land.landH2|raw }}</h2>
            <h3>{{ land.landH3|raw }}</h3>
            <div class="contacts">
                <div class="phone"><a href="tel:+78007751257">8 800 775-12-57</a></div>
                <div class="timetable">пн-пт, с 10:00 до 19:00</div>
                <div class="order">
                    <a href="javascript:void(0);"
                       data-modal-caption="Заказать обратный звонок"
                       data-modal-subcaption="Пожалуйста, оставьте свои контактные данные: мы свяжемся с Вами в ближайшее время с 10 до 19 часов"
                       data-modal-from="Заказ звонка в шапке лэндинга {{ landing|e }}"
                       class="show-modal">
                        Заказать обратный звонок
                    </a>
                </div>
            </div>
            <a href="javascript:void(0);"
               data-modal-caption="Заказать расчёт тура"
               data-modal-subcaption="Пожалуйста, оставьте свои контактные данные: мы свяжемся с Вами и подробно проконсультируем по интересующему Вас  туру в ближайшее время с 10 до 19 часов"
               data-modal-from="Заказ расчёта тура в шапке лэндинга"
               class="button text-shadow show-modal">
                Заказать расчёт тура
            </a>
        </div>
        <div class="tours">
            <h2>Основные предложения</h2>
            <p class="subheader">Работаем только с надежными и проверенными туроператорами &mdash;<br>{% block body_subheader %}лидерами по внутреннему туризму{% endblock %}</p>
            <ul id="tours">
                {% spaceless %}
                    {% for tour in tours %}
                        <li>
                            <img src="{{ asset(tour.image.path|e) }}" alt="{{ tour.caption|e }}" width="284" height="183">
                            <div class="img-bg"></div>
                            {% if tour.template == 1 %}
                                <div class="caption left-top-first">
                                    {{ tour.caption|e }}
                                    <div class="days left-top-second">{{ tour.days|e }}</div>
                                </div>
                                <div class="city left-bottom">{{ tour.from|e }}</div>
                                <div class="price right">{{ tour.price|e }} ₽</div>
                                <a href="javascript:void(0);"
                                   data-modal-caption="Узнать подробнее о туре"
                                   data-modal-subcaption="Пожалуйста, оставьте свои контактные данные: мы свяжемся с Вами и подробно проконсультируем по данному туру в ближайшее время с 10 до 19 часов"
                                   data-modal-from="Лэндинг №{{ landing|e }}, тур {{ tour.caption }}"
                                   class="text-center button show-modal">
                                    Подробнее
                                </a>
                            {% elseif tour.template == 2 %}
                                <div class="caption left-top-first">{{ tour.caption|e }}</div>
                                <div class="days left-top-second">{{ tour.days|e }}</div>
                                <div class="city left-bottom">{{ tour.from|e }}</div>
                                <div class="price right"></div>
                                <a href="javascript:void(0);" class="text-center button">{{ tour.price|e }} ₽</a>
                            {% else %}
                                <div class="caption left-top-second">{{ tour.caption|e }}</div>
                                <div class="days left-bottom">{{ tour.days|e }}</div>
                                <div class="city left-top-first">{{ tour.from|e }}</div>
                                <div class="price right">{{ tour.price|e }} ₽</div>
                                <a href="javascript:void(0);" class="text-center button">Купить</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% endspaceless %}
            </ul>
        </div>
        <div class="properties">
            <h2>Профессиональная забота о ваших эмоциях</h2>
            <p class="subheader">Доверьте отдых мастерам своего дела</p>
            <div class="block block1">
                <strong>Профессионализм</strong><br>
                {% block body_professional %}
                    Наши менеджеры лично побывали<br>
                    на многих туристических базах и<br>
                    хорошо изучили инфраструктуру
                {% endblock %}
            </div>
            <div class="block block2">
                <strong>Максимум от отдыха</strong><br>
                Предоставляем качественные и<br>
                подробные консультации перед поездкой
            </div>
            <div class="block block3">
                <strong>Порядочность</strong><br>
                Выдаем все официальные документы,<br>
                включая чеки и справки
            </div>
            <div class="block block4">
                <strong>Надёжность</strong><br>
                Работаем в туризме уже более 12 лет,<br>
                85% &mdash; наши постоянные клиенты
            </div>
            <div class="block block5">
                {% block body_block5 %}
                    <strong>Лучшие предложения</strong><br>
                    Выбираем оптимальное соотношение<br>
                    цены и качества
                {% endblock %}
            </div>
            <div class="block block6">
                <strong>Забота</strong><br>
                Мы закрепляем за Вами персонального<br>
                менеджера на период поездки
            </div>
        </div>
        <div class="reviews">
            <h2>Отзывы</h2>
            <ul class="list-inline">
                <li class="review-1 animated">
                    <div class="text"></div>
                    <div class="desc">
                        <div class="photo"></div>
                        <div class="name"></div>
                        <div class="to"></div>
                    </div>
                </li>
                <li class="review-2 animated">
                    <div class="text"></div>
                    <div class="desc">
                        <div class="photo"></div>
                        <div class="name"></div>
                        <div class="to"></div>
                    </div>
                </li>
            </ul>
            <div class="prev"></div>
            <div class="next"></div>
            <a href="javascript:void(0);"
               data-modal-caption="Подобрать тур"
               data-modal-subcaption="Пожалуйста, оставьте свои контактные данные: мы свяжемся с Вами и подробно проконсультируем по интересующему Вас  туру в ближайшее время с 10 до 19 часов"
               data-modal-from="Заказ подбора тура (Отзывы на лэндинге)"
               class="order text-shadow show-modal">
                Оставить заявку на подбор тура
            </a>
        </div>
        <div class="certificates">
            <h2>Дипломы и сертификаты</h2>
            <ul class="list-inline">
                <li class="cert-1 animated">
                    <img src=""><br>
                    <div class="desc"></div>
                </li>
                <li class="cert-2 animated">
                    <img src=""><br>
                    <div class="desc"></div>
                </li>
                <li class="cert-3 animated">
                    <img src=""><br>
                    <div class="desc"></div>
                </li>
                <li class="cert-4 animated">
                    <img src=""><br>
                    <div class="desc"></div>
                </li>
                <li class="cert-5 animated">
                    <img src=""><br>
                    <div class="desc"></div>
                </li>
            </ul>
            <div class="prev"></div>
            <div class="next"></div>
        </div>
        <div id="footer" class="footer{{ landing|e }}">
            <h2>Подарок для Вас</h2>
            <p class="subheader">
                Подпишитесь на email-рассылку и получите подарок &mdash;<br>
                {% block body_present %}{% endblock %}
            </p>
            <a href="javascript:void(0);"
               data-modal-caption="Подписка на e-mail рассылку"
               data-modal-subcaption="Пожалуйста, оставьте свои контактные данные. В ближайшее время мы вышлем Вам полезный подарок :)"
               data-modal-from="Кнопка Получить подарок в подвале лэндинга"
               class="get-present show-modal">
                Получить подарок
            </a>
            <p class="contacts">
                Мало-Тобольская 19-105, Барнаул Алтайский край &bull; 8 3852 229-281 &bull;
                <a href=mailto:manager-master-em@mail.ru">manager-master-em@mail.ru</a>
            </p>
            <a href="javascript:void(0);" class="privacy show-privacy">Политика конфиденциальности</a>
        </div>
    </div>
    <div id="fade"></div>
    <div id="modal-form">
        <div class="close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
        <div class="caption">Заказ обратного звонка</div>
        <div class="subcaption">Пожалуйста, оставьте свои контактные данные: мы свяжемся с Вами в ближайшее время с 10 до 19 часов</div>
        {{ form_start(form) }}
        <fieldset>
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
        </fieldset>
        <fieldset>
            {{ form_label(form.phone) }}
            {{ form_widget(form.phone) }}
        </fieldset>
        <fieldset>
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
        </fieldset>
        {{ form_widget(form.submit) }}
        {{ form_end(form) }}
    </div>
    <div id="modal-certificate">
        <div class="close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
        <img src="">
    </div>
    <div id="modal-privacy">
        <div class="close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
        <div class="article">
            <div class="caption">Политика конфиденциальности ООО «Мастер Эмоций»</div>
            <strong>Введение</strong><br>
            Мы стремимся уважать информацию личного характера, касающуюся посетителей нашего сайта. В настоящей Политике конфиденциальности разъясняются некоторые из мер, которые мы предпринимаем для защиты Вашей частной жизни.<br>
            <strong>Конфиденциальность информации личного характера</strong><br>
            «Информация личного характера» обозначает любую информацию, которая может быть использована для идентификации личности, например, фамилия, номер телефона или адрес электронной почты.
            <strong>Использование информации частного характера</strong><br>
            Информация личного характера, полученная через наш сайт, используется нами, среди прочего, для целей регистрирования пользователей, для поддержки работы и совершенствования нашего сайта, отслеживания политики и статистики пользования сайтом, а также в целях, разрешенных вами.<br>
            Раскрытие информации частного характера. Мы нанимаем другие компании или связаны с компаниями, которые по нашему поручению предоставляют услуги, такие как обработка и доставка информации, размещение информации на данном сайте, доставка содержания и услуг, предоставляемых настоящим сайтом, выполнение статистического анализа. Чтобы эти компании могли предоставлять эти услуги, мы можем сообщать им информацию личного характера, однако им будет разрешено получать только ту информацию личного характера, которая необходима им для предоставления услуг. Они обязаны соблюдать конфиденциальность этой информации, и им запрещено использовать ее в иных целях.<br>
            Мы можем использовать или раскрывать Ваши личные данные и по иным причинам, в том числе, если мы считаем, что это необходимо в целях выполнения требований закона или решений суда, для защиты наших прав или собственности, защиты личной безопасности пользователей нашего сайта или представителей широкой общественности, в целях расследования или принятия мер в отношении незаконной или предполагаемой незаконной деятельности, в связи с корпоративными сделками, такими как разукрупнение, слияние, консолидация, продажа активов или в маловероятном случае банкротства, или в иных целях в соответствии с Вашим согласием.<br>
            Мы не будем продавать, предоставлять на правах аренды или лизинга наши списки пользователей с адресами электронной почты третьим сторонам.<br>
            <strong>Доступ к информации личного характера</strong><br>
            Если после предоставления информации на данный сайт, Вы решите, что Вы не хотите, чтобы Ваша Персональная информация использовалась в каких-либо целях, Вы можете исключить себя из списка, связавшись с нами по следующему адресу: master-em@list.ru.<br>
            Наша практика в отношении информации неличного характера. Мы можем собирать информацию неличного характера о Вашем посещении сайта, в том числе просматриваемые вами страницы, выбираемые вами ссылки, а также другие действия в связи с Вашим использованием нашего сайта. Кроме того, мы можем собирать определенную стандартную информацию, которую Ваш браузер направляет на любой посещаемый вами сайт, такую как Ваш IP-адрес, тип браузера и язык, время, проведенное на сайте, и адрес соответствующего веб-сайта.<br>
            Использование закладок (cookies). Файл cookie — это небольшой текстовый файл, размещаемый на Вашем твердом диске нашим сервером. Cookies содержат информацию, которая позже может быть нами прочитана. Никакие данные, собранные нами таким путем, не могут быть использованы для идентификации посетителя сайта. Не могут cookies использоваться и для запуска программ или для заражения Вашего компьютера вирусами. Мы используем cookies в целях контроля использования нашего сайта, сбора информации неличного характера о наших пользователях, сохранения Ваших предпочтений и другой информации на Вашем компьютере с тем, чтобы сэкономить Ваше время за счет снятия необходимости многократно вводить одну и ту же информацию, а также в целях отображения Вашего персонализированного содержания в ходе Ваших последующих посещений нашего сайта. Эта информация также используется для статистических исследований, направленных на корректировку содержания в соответствии с предпочтениями пользователей.<br>
            Агрегированная информация. Мы можем объединять в неидентифицируемом формате предоставляемую вами личную информацию и личную информацию, предоставляемую другими пользователями, создавая таким образом агрегированные данные. Мы планируем анализировать данные агрегированного характера в основном в целях отслеживания групповых тенденций. Мы не увязываем агрегированные данные о пользователях с информацией личного характера, поэтому агрегированные данные не могут использоваться для установления связи с вами или Вашей идентификации. Вместо фактических имен в процессе создания агрегированных данных и анализа мы будем использовать имена пользователей. В статистических целях и в целях отслеживания групповых тенденций анонимные агрегированные данные могут предоставляться другим компаниям, с которыми мы взаимодействуем.<br>
            Изменения, вносимые в настоящее Заявление о конфиденциальности. Мы сохраняем за собой право время от времени вносить изменения или дополнения в настоящую Политику конфиденциальности — частично или полностью. Мы призываем Вас периодически перечитывать нашу Политику конфиденциальности с тем, чтобы быть информированными относительно того, как мы защищаем Вашу личную информацию. С последним вариантом Политики конфиденциальности можно ознакомиться путем нажатия на гипертекстовую ссылку «Политика конфиденциальности», находящуюся в нижней части домашней страницы данного сайта. Во многих случаях, при внесении изменений в Политику конфиденциальности, мы также изменяем и дату, проставленную в начале текста Политики конфиденциальности, однако других уведомлений об изменениях мы можем вам не направлять. Однако если речь идет о существенных изменениях, мы уведомим Вас, либо разместив предварительное заметное объявление о таких изменениях, либо непосредственно направив вам уведомление по электронной почте. Продолжение использования вами данного сайта и выход на него означает Ваше согласие с такими изменениями.<br>
            <strong>Связь с нами</strong><br>
            Если у Вас возникли какие-либо вопросы или предложения по поводу нашего положения о конфиденциальности, пожалуйста, свяжитесь с нами по следующему адресу: <a href="mailto:master-em@list.ru">master-em@list.ru</a>.<br>
            <br>
        </div>
    </div>
    <script>
        var reviews = [
            {% for review in reviews %}{text: '{{ review.full|e }}', photo: '{{ review.image.path|e }}', name: '{{ review.name|e }}', to: '{{ review.to|e }}'}{% if loop.index != reviews|length %},{% endif %}{% endfor %}
        ];
        var reviewPage = 0;
        var certs = [
            {% for cert in certificates %}{src: '{{ cert.image.path|e }}', desc: '{{ cert.caption|e }}'}{% if loop.index != certificates|length %},{% endif %}{% endfor %}
        ];
        var certPage = 0;

        function showModal(sender) {
            $('#fade').stop(true, true).fadeIn(250);
            $('#modal-form .caption').html(sender.attr('data-modal-caption'));
            $('#modal-form .subcaption').html(sender.attr('data-modal-subcaption'));
            $('#modal-form form input[type=text], #modal-form form input[type=email]').val('');
            $('#modal-form form input.hidden-from').val(sender.attr('data-modal-from'));
            $('#modal-form form input.hidden-query').val(window.location.search.substring(1));
            $('#modal-form').stop(true, true).fadeIn(250);
        }

        function closeModal() {
            $('#modal-certificate').stop(true, true).fadeOut(250);
            $('#modal-privacy').stop(true, true).fadeOut(250);
            $('#modal-form').stop(true, true).fadeOut(250);
            $('#fade').stop(true, true).fadeOut(250);
        }

        function handleModal(form) {
            $.ajax({
                url: '{{ url('site_general_request') }}',
                data: form.serialize(),
                dataType: 'json',
                method: 'post',
                cache: false,
                error: function() { alert('Извините, не удалось отправить заявку. Пожалуйста, повторите попытку позже.'); },
                success: function(data) { alert('Благодарим за заявку! Мы свяжемся с Вами в ближайшее время.'); }
            });
        }

        function initReviews(next)
        {
            $('.reviews li').removeClass('slideInRight').removeClass('slideInLeft').hide();
            for (var i = 0; i < 2; ++i) {
                var review = reviews[reviewPage * 2 + i];
                if (review) {
                    var li = $('.reviews .review-' + (i + 1));
                    li.find('.text').html(review.text);
                    li.find('.photo').css({'background-image': 'url("' + review.photo + '")'});
                    li.find('.name').html(review.name);
                    li.find('.to').html(review.to);
                    if (next) li.stop(true, true).show().addClass('slideInRight');
                    else li.stop(true, true).show().addClass('slideInLeft');
                }
            }
        }

        function prevReview() {
            var pages = (reviews.length / 2).toFixed();
            if (reviews.length - pages * 2 > 0) pages = eval(pages) + 1;
            --reviewPage;
            if (reviewPage < 0) reviewPage = pages - 1;
            initReviews(false);
        }

        function nextReview() {
            var pages = (reviews.length / 2).toFixed();
            if (reviews.length - pages * 2 > 0) pages = eval(pages) + 1;
            ++reviewPage;
            if (reviewPage >= pages) reviewPage = 0;
            initReviews(true);
        }

        function initCertificates(next) {
            $('.certificates li').removeClass('slideInRight').removeClass('slideInLeft').hide();
            for (var i = 0; i < 5; ++i) {
                var cert = certs[certPage * 5 + i];
                if (cert) {
                    var li = $('.certificates .cert-' + (i + 1));
                    li.children('img').attr('src', cert.src);
                    li.children('.desc').html(cert.desc);
                    if (next) li.stop(true, true).show().addClass('slideInRight');
                    else li.stop(true, true).show().addClass('slideInLeft');
                }
            }
        }

        function prevCertificates() {
            var pages = (certs.length / 5).toFixed();
            if (certs.length - pages * 5 > 0) pages = eval(pages) + 1;
            --certPage;
            if (certPage < 0) certPage = pages - 1;
            initCertificates(false);
        }

        function nextCertificates() {
            var pages = (certs.length / 5).toFixed();
            if (certs.length - pages * 5 > 0) pages = eval(pages) + 1;
            ++certPage;
            if (certPage >= pages) certPage = 0;
            initCertificates(true);
        }

        function showCertificate(src) {
            $('#fade').stop(true, true).fadeIn(250);
            $('#modal-certificate img').attr('src', src);
            $('#modal-certificate').stop(true, true).fadeIn(250);
        }

        $(document).ready(function() {
            $('#modal-form form').submit(function(e) { handleModal($(this)); closeModal(); e.preventDefault(); return false; });
            $('#fade').click(closeModal);
            $('#modal-form .close').click(closeModal);
            $('.show-modal').click(function() { showModal($(this)); });
            initReviews(true);
            $('.reviews .prev').click(prevReview);
            $('.reviews .next').click(nextReview);
            initCertificates(true);
            $('.certificates .prev').click(prevCertificates);
            $('.certificates .next').click(nextCertificates);
            $('.show-privacy').click(function() {
                $('#fade').stop(true, true).fadeIn(250);
                $('#modal-privacy').stop(true, true).fadeIn(250);
            });
            $('#modal-privacy .close').click(closeModal);
            $('#modal-certificate .close').click(closeModal);
            $('.certificates img').click(function() { showCertificate($(this).attr('src')); });
        });
    </script>
    <!-- BEGIN JIVOSITE CODE {literal} -->
    <script type='text/javascript'>
        (function(){ var widget_id = 'c6GoPK5tTS';
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();
    </script>
    <!-- {/literal} END JIVOSITE CODE -->
    {% block body_additions %}{% endblock %}
</body>
</html>