<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{% block head_title %}Page{% endblock %} | Мастер эмоций</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="const-se.ru">
    <link rel="stylesheet" href="{{ asset('/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/styles.css') }}">
    <script src="{{ asset('/js/jquery-1.11.2.min.js') }}"></script>
    <script src="{{ asset('/js/bootstrap.min.js') }}"></script>
    {% block head_additions %}{% endblock %}
</head>
<body>
    <div class="container">
        {% block body_content %}Content{% endblock %}
    </div>
    <div id="fade"></div>
    <div id="modal-form">
        <div class="close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </div>
        <div class="caption">Заявка</div>
        <div class="subcaption">Закажите тур сейчас и...</div>
        {{ form_start(form) }}
            <fieldset>
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
            </fieldset>
            <fieldset>
                {{ form_label(form.phone) }}
                {{ form_widget(form.phone) }}
            </fieldset>
            <fieldset>
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </fieldset>
            {{ form_widget(form.submit) }}
        {{ form_end(form) }}
    </div>
    <script>
        function showModal(sender) {
            $('#fade').stop(true, true).fadeIn(250);
            $('#modal-form .caption').html(sender.attr('data-modal-caption'));
            $('#modal-form .subcaption').html(sender.attr('data-modal-subcaption'));
            $('#modal-form form input[type=text], #modal-form form[type=email]').val('');
            $('#modal-form form input.hidden-from').val(sender.attr('data-modal-from'));
            $('#modal-form form input.hidden-query').val(window.location.search.substring(1));
            $('#modal-form').stop(true, true).fadeIn(250);
        }

        function closeModal() { $('#modal-form').stop(true, true).fadeOut(250); $('#fade').stop(true, true).fadeOut(250); }

        function handleModal(form) {
            $.ajax({
                url: '{{ url('site_general_request') }}',
                data: form.serialize(),
                dataType: 'json',
                method: 'post',
                cache: false,
                error: function() { alert('Извините, не удалось отправить заявку. Пожалуйста, повторите попытку позже.'); },
                success: function(data) { alert(data); alert('Благодарим за заявку! Мы свяжемся с Вами в ближайшее время.'); }
            });
        }

        $(document).ready(function() {
            $('#modal-form form').submit(function(e) { handleModal($(this)); closeModal(); e.preventDefault(); return false; });
            $('#fade').click(closeModal);
            $('#modal-form .close').click(closeModal);
            $('.show-modal').click(function() { showModal($(this)); });
        });
    </script>
    <!-- BEGIN JIVOSITE CODE {literal} -->
    <script type='text/javascript'>
        (function() {
            var widget_id = 'c6GoPK5tTS';
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = '//code.jivosite.com/script/widget/'+widget_id;
            var ss = document.getElementsByTagName('script')[0];
            ss.parentNode.insertBefore(s, ss);
        })();
    </script>
    <!-- {/literal} END JIVOSITE CODE -->
    {% block body_additions %}{% endblock %}
</body>
</html>