{% extends 'MasterSiteBundle::layout.html.twig' %}

{% block head_title %}Контакты{% endblock %}

{% block head_additions %}
    <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
{% endblock %}

{% block body_content %}
    {% set menu_active = 'contacts' %}
    {% include 'MasterSiteBundle::header.html.twig' %}
    <div id="contacts-page">
        <div class="header-separator"></div>
        <div class="heading">
            <h1>О компании</h1>
            <a href="#" class="callback">Заказать звонок</a>
        </div>
        <div class="about-company">
            <div class="photo"></div>
            <h2>Приветствие</h2>
            <p>
                &laquo;Здравствуйте, уважаемые гости нашего сайта! Меня зовут Анна&nbsp;Клепикова, и вот уже почти 6 лет
                я являюсь руководителем туристического агентства &laquo;Мастер Эмоций&raquo;. Наша основная цель
                в работе точно отражена в названии фирмы &mdash; быть настоящими мастерами любимого дела,
                вкладывающими душу в свой труд для того, чтобы делать Вас еще более счастливыми и дарить светлые,
                яркие, искрящиеся эмоции!
            </p>
            <p>
                Мы понимаем, что настоящий эталонный сервис &mdash; это искренняя забота о своих покупателях,
                и всегда следуем этому убеждению&raquo;
            </p>
            <p>
                По вопросам трудоустройства ждем Ваших обращений по телефону 8 (3852) 229-281 и резюме на адрес &mdash;
                <a href="mailto:rezume-master-em@mail.ru">rezume-master-em@mail.ru</a>
            </p>
            <div class="timetable">
                <h3>Режим работы</h3>
                <p>С понедельника по пятницу<br>10:00&ndash;19:00</p>
                <p>Оплата по картам:<br><img src="{{ asset('/img/contacts-cards.png') }}"></p>
                <h3>Мы в соцсетях</h3>
                <p>
                    <a href="#" class="contacts-vk"></a>
                    <a href="#" class="contacts-fb"></a>
                    <a href="#" class="contacts-instagram"></a>
                    <a href="#" class="contacts-ok"></a>
                </p>
                <h3>8 (3852) 229-281</h3>
                <p><a href="mailto:master-em@list.ru">master-em@list.ru</a></p>
            </div>
            {% if certificates|length > 0 %}
                <div class="certs">
                    <h2>Сертификаты и награды</h2>
                    <ul class="list-inline">
                        {% for cert in certificates[:4] %}
                            <li>
                                <a href="javascript:void(0);" class="show-cert"><img src="{{ cert.image.path|e }}"></a>
                                {{ cert.caption|e }}
                            </li>
                        {% endfor %}
                    </ul>
                    {% if certificates|length > 4 %}
                        <a href="javascript:void(0);" class="more"><span>Смотреть все</span></a>
                        <ul class="list-inline certs2">
                            {% for cert in certificates[4:] %}
                                <li>
                                    <a href="javascript:void(0);" class="show-cert"><img src="{{ cert.image.path|e }}"></a>
                                    {{ cert.caption|e }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endif %}
            <a name="contacts"></a>
            <div class="details">
                <h2>Реквизиты</h2>
                <table>
                    <thead></thead>
                    <tbody>
                        <tr>
                            <td class="details-left">
                                <strong>ООО &laquo;Мастер эмоций&raquo;</strong><br>
                                ИНН/КПП 2221210660/222101001<br>
                                ОГРН 1142225002600<br>
                                Основной ОКВЭД 63.30<br>
                                ОКПО 27072022<br>
                                Р/с 40702810320100025954<br>
                                <br>
                                <strong>Юридический адрес</strong><br>
                                ул. Деповская, д. 10, оф. 47,<br>
                                г. Барнаул, Алтайский край, 656015<br>
                                <br>
                                <strong>Фактический адрес</strong><br>
                                ул. Мало-Тобольская, д. 19, оф. 105<br>
                                г. Барнаул, Алтайский край, 656056
                            </td>
                            <td class="details-right">
                                <strong>Расчет через банк</strong><br>
                                Алтайский филиал ОАО АКБ &laquo;Авангард&raquo;<br>
                                г. Москва, ул. Садовническая, д. 12, стр. 1<br>
                                ИНН/КПП 7702021163/775001001<br>
                                <br>
                                БИК 044525201<br>
                                ОГРН 102770367507<br>
                                К/с 30101810000000000201<br>
                                <br>
                                <strong>Расчет по карте</strong><br>
                                Получатель &mdash; Клепикова Анна Николаевна<br>
                                4276 0200 1016 2953
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="map" class="map"></div>
    </div>
    {% include 'MasterSiteBundle::footer.html.twig' %}
{% endblock %}

{% block body_additions %}
    <script>
        $(document).ready(function() {
            $('#contacts-page .certs .more').click(function() {
                $(this).hide();
                $('#contacts-page .certs ul.certs2').slideDown(250);
            });
            $('.show-cert').click(function() {
                showCertificate($(this).children('img').attr('src'));
            });
            var map;
            ymaps.ready(function() {
                map = new ymaps.Map('map', {
                    center: [53.3308, 83.7976],
                    zoom: 17,
                    controls: ['zoomControl', 'fullscreenControl']
                });
                map.geoObjects.add(new ymaps.Placemark([53.3308, 83.7976], {
                    balloonContent: '<strong>Мастер Эмоций</strong><br>'
                        + 'ул. Мало-Тобольская, д. 19, оф. 105<br>'
                        + 'г. Барнаул, Алтайский край, Россия, 656056<br>'
                        + 'тел.: 8 800 775-12-57'
                }));
            });
        });
    </script>
{% endblock %}