{% extends 'MasterSiteBundle::layout.html.twig' %}

{% block head_title %}Ответы на вопросы{% endblock %}

{% block head_additions %}
    <link rel="stylesheet" href="{{ asset('/css/animate.css') }}">
    <script src="{{ asset('/js/jquery.viewportchecker.js') }}"></script>
{% endblock %}

{% block body_content %}
    {% set menu_active = null %}
    {% include 'MasterSiteBundle::header.html.twig' %}
    <div id="faq-page">
        <div class="header-separator"></div>
        <div class="heading"><h1>Ответы на вопросы</h1></div>
        <table class="main">
            <thead></thead>
            <tbody>
                <tr>
                    <td class="left">
                        <div class="links">
                            <div class="line"></div>
                            {% for q in questions %}
                                <a href="#{{ loop.index }}">{{ q.caption|e }}</a><br>
                            {% endfor %}
                        </div>
                    </td>
                    <td class="right">
                        <div class="article">
                            {% for q in questions %}
                                {% if loop.index == 3 %}<div class="smile"></div>{% endif %}
                                {% if loop.index == 10 %}<div class="plane"></div>{% endif %}
                                <p>
                                    <a name="{{ loop.index }}"></a>
                                    <strong>{{ q.caption|e }}</strong><br>
                                    {{ q.text|raw }}
                                </p>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {% include 'MasterSiteBundle::footer.html.twig' %}
{% endblock %}

{% block body_additions %}
    <script>
        $(document).ready(function() {
            var pageHeight = $('.container').height();
            var linksHeight = $('#faq-page .main .left .links').height() - 20;
            $(window).scroll(function() {
                var a = 1.0 * $(this).scrollTop() / pageHeight;
                var b = 1.0 * linksHeight * a;
                $('#faq-page .main .left .links .line').css({top: b.toFixed(2) + 'px'});
                if ($(this).scrollTop() >= 227) {
                    $('#faq-page .main .left .links').css({'margin-top': $(this).scrollTop() - 220});
                }
                else {
                    $('#faq-page .main .left .links').css({'margin-top': 0});
                }
            });
//            $('#faq-page .main .right .article p').viewportChecker({
//                classToAdd: 'unknown',
//                offset: 600,
//                repeat: true,
//                callbackFunction: function(elem, index) {
//                    var href = elem.find('a[name]').attr('name');
//                    $('#faq-page .main .left .links a').removeClass('active');
//                    $('#faq-page .main .left .links a[href="#' + href + '"]').addClass('active');
//                }
//            });
            $('#faq-page .main .left .links a').click(function() {
                var href = $(this).attr('href').substring(1);
                $('body, html').animate({scrollTop: $('#faq-page .main .right a[name="' + href + '"]').offset().top - 200}, 500);
//                $(this).addClass('active').siblings().removeClass('active');
                e.stopPropagation();
                e.preventDefault();

                return true;
            });
        });
    </script>
{% endblock %}