{% extends 'MasterSiteBundle::layout.html.twig' %}

{% block head_title %}Главная{% endblock %}

{% block head_additions %}
    <style>
        .tours .tour-mail form { position: absolute; top: 95px; left: 20px; }
        .tours .tour-mail fieldset { height: 47px; width: 100%; }
        .tours .tour-mail input { color: #000; }
        .tours .tour-mail input[type=text] { border: 1px #e8e8e8; border-radius: 4px; box-shadow: inset 0 1px 4px 1px #999; font-size: 14px; height: 30px; left: 128px; padding: 7px; width: 275px; }
        .tours .tour-mail input[type=email] { border: 1px #e8e8e8; border-radius: 4px 0 0 4px; box-shadow: inset 0 1px 4px 1px #999; font-size: 14px; height: 30px; left: 128px; padding: 7px; width: 220px; }
        .tours .tour-mail button { height: 30px; color: #000; width: 55px; }
    </style>
{% endblock %}

{% block body_content %}
    {% set menu_active = 'index' %}
    {% include 'MasterSiteBundle::header.html.twig' %}
    <div id="slider" class="carousel slide" data-ride="carousel" data-interval="5000" data-wrap="true">
        <ol class="carousel-indicators">
            <li data-target="#slider" data-slide-to="0" class="active"></li>
            <li data-target="#slider" data-slide-to="1"></li>
            <li data-target="#slider" data-slide-to="2"></li>
            <li data-target="#slider" data-slide-to="3"></li>
            <li data-target="#slider" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="{{ asset(landings[0].forIndex.path|e) }}" alt="Санаторно-курортный отдых в Белокурихе">
                <div class="content slider0">
                    <div class="caption">{{ landings[0].indexCaption|raw }}</div>
                    <span class="details"><a href="{{ url('site_general_landing1') }}">Посмотреть</a></span>
                </div>
            </div>
            <div class="item">
                <img src="{{ asset(landings[1].forIndex.path|e) }}" alt="Активныe и экстримальныe туры на Алтае">
                <div class="content">
                    <div class="caption">{{ landings[1].indexCaption|raw }}</div>
                    <span class="details"><a href="{{ url('site_general_landing2') }}">Посмотреть</a></span>
                </div>
            </div>
            <div class="item">
                <img src="{{ asset(landings[2].forIndex.path|e) }}" alt="Отдых на Алтае">
                <div class="content">
                    <div class="caption">{{ landings[2].indexCaption|raw }}</div>
                    <span class="details"><a href="{{ url('site_general_landing3') }}">Посмотреть</a></span>
                </div>
            </div>
            <div class="item">
                <img src="{{ asset(landings[3].forIndex.path|e) }}" alt="Туры по России">
                <div class="content">
                    <div class="caption">{{ landings[3].indexCaption|raw }}</div>
                    <span class="details"><a href="{{ url('site_general_landing4') }}">Посмотреть</a></span>
                </div>
            </div>
            <div class="item">
                <img src="{{ asset(landings[4].forIndex.path|e) }}" alt="Зарубежные туры">
                <div class="content">
                    <div class="caption">{{ landings[4].indexCaption|raw }}</div>
                    <span class="details"><a href="{{ url('site_general_landing5') }}">Посмотреть</a></span>
                </div>
            </div>
        </div>
        <a href="#slider" class="left carousel-control" role="button" data-slide="prev">
            <span class="icon-prev"></span>
            <span class="sr-only">Предыдущий</span>
        </a>
        <a href="#slider" class="right carousel-control" role="button" data-slide="next">
            <span class="icon-next"></span>
            <span class="sr-only">Следующий</span>
        </a>
    </div>
    <div id="index-page">
        <div class="heading">
            <h1>Галерея туров</h1>
            <ul class="list-inline filter-type">
                {% spaceless %}
                    <li><a href="javascript:void(0);" data-type="0">Новые</a></li>
                    <li><a href="javascript:void(0);" data-type="1">Горящие</a></li>
                    <li><a href="javascript:void(0);" data-type="2">Акции</a></li>
                {% endspaceless %}
            </ul>
            <ul class="list-inline filter-location">
                {% spaceless %}
                    <li class="active"><a href="javascript:void(0);" data-location="-1">Все туры</a></li>
                    <li><a href="javascript:void(0);" data-location="0">Зарубежные</a></li>
                    <li><a href="javascript:void(0);" data-location="1">Алтай</a></li>
                    <li><a href="javascript:void(0);" data-location="2">По России</a></li>
                {% endspaceless %}
            </ul>
        </div>
        <ul class="tours">
            {% spaceless %}
                {% for tour in tours %}
                    {% if loop.index == 8 %}
                        <li class="tour-mail">
                            <img src="/img/tour-mail.jpg">
                            <div class="caption">Узнайте первыми о<br>лучших турах</div>
                            {{ form_start(tour_form, {'action': url('site_general_request2')}) }}
                                <fieldset>
                                    {{ form_widget(tour_form.name, {'attr': {'placeholder': 'Ваше имя'}}) }}
                                </fieldset>
                                <fieldset>
                                    {{ form_widget(tour_form.email, {'attr': {'placeholder': 'Эл. адрес'}}) }}{{ form_widget(tour_form.submit) }}
                                </fieldset>
                            {{ form_end(tour_form) }}
                        </li>
                    {% endif %}
                    {% if loop.index == 12 %}
                        <li class="tour-gift">
                            <img src="/img/tour-gift.png">
                            <div class="caption">Идеальный подарок<br>близким</div>
                            <a href="{{ url('site_general_certificate') }}">Подарочный сертификат</a>
                        </li>
                    {% endif %}
                    {% if loop.index == 16 %}
                        <li class="tour-gift">
                            <img src="/img/tour-visa.png">
                            <div class="caption">Путешествие в кредит<br>или в рассрочку</div>
                            <a href="{{ url('site_general_credit') }}">Узнать подробнее</a>
                        </li>
                    {% endif %}
                    {% if loop.index == 20 %}
                        <li class="tour-note">
                            <img src="/img/tour-note.jpg">
                            <div class="caption">Не забудьте заказать<br>горящий тур!</div>
                            <a href="javascript:void(0);"
                               data-modal-caption="Заказать горящий тур"
                               data-modal-subcaption="Пожалуйста, оставьте свои контактные данные"
                               data-modal-from="Главная страница, заказ горящего тура"
                               class="show-modal">
                                Получать рассылку
                            </a>
                        </li>
                    {% endif %}
                    <li data-type="{{ tour.type|e }}" data-location="{{ tour.location|e }}">
                        {% if tour.image is not empty %}
                            <img src="{{ asset(tour.image.path|e) }}" alt="{{ tour.caption|e }}" width="314" height="202">
                            <div class="img-bg"></div>
                        {% endif %}
                        {% if tour.template == 1 %}
                            <div class="caption left-top-first">
                                {{ tour.caption|e }}
                                <div class="days left-top-second">{{ tour.days|e }}</div>
                            </div>
                            <div class="city left-bottom">{{ tour.from|e }}</div>
                            <div class="price right">
                                от {{ tour.price|e }}
                                <span class="glyphicon glyphicon-ruble" aria-hidden="true"></span>
                            </div>
                            <a href="javascript:void(0);"
                               data-modal-caption="Узнать подробнее о туре"
                               data-modal-subcaption="Пожалуйста, оставьте свои контактные данные: мы свяжемся с Вами и подробно проконсультируем по данному туру в ближайшее время с 10 до 19 часов"
                               data-modal-from="Главная страница, тур {{ tour.caption }}"
                               class="text-center button show-modal">
                                Подробнее
                            </a>
                        {% elseif tour.template == 2 %}
                            <div class="caption left-top-first">{{ tour.caption|e }}</div>
                            <div class="days left-top-second">{{ tour.days|e }}</div>
                            <div class="city left-bottom">{{ tour.from|e }}</div>
                            <div class="price right"></div>
                            <a href="javascript:void(0);"
                               data-modal-caption="Узнать подробнее о туре"
                               data-modal-subcaption="Пожалуйста, оставьте свои контактные данные: мы свяжемся с Вами и подробно проконсультируем по данному туру в ближайшее время с 10 до 19 часов"
                               data-modal-from="Главная страница, тур {{ tour.caption }}"
                               class="text-center button show-modal">
                                от {{ tour.price|e }}
                                <span class="glyphicon glyphicon-ruble" aria-hidden="true"></span>
                            </a>
                        {% else %}
                            <div class="caption left-top-second">{{ tour.caption|e }}</div>
                            <div class="days left-bottom">{{ tour.days|e }}</div>
                            <div class="city left-top-first">{{ tour.from|e }}</div>
                            <div class="price right">
                                от {{ tour.price|e }}
                                <span class="glyphicon glyphicon-ruble" aria-hidden="true"></span>
                            </div>
                            <a href="javascript:void(0);"
                               data-modal-caption="Узнать подробнее о туре"
                               data-modal-subcaption="Пожалуйста, оставьте свои контактные данные: мы свяжемся с Вами и подробно проконсультируем по данному туру в ближайшее время с 10 до 19 часов"
                               data-modal-from="Главная страница, тур {{ tour.caption }}"
                               class="text-center button show-modal">
                                Подробнее
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            {% endspaceless %}
        </ul>
        <div class="shadow"></div>
        <ul class="sections">
            {% spaceless %}
                <li>
                    <h2><a href="{{ url('site_general_reviews') }}">Отзывы</a></h2>
                    <p>Мнение клиентов о нашей<br>работе</p>
                </li>
                <li>
                    <h2><a href="{{ url('site_general_faq') }}">Вопросы и ответы</a></h2>
                    <p>Важная и полезная информация<br>для Ваших путешествий</p>
                </li>
                <li>
                    <h2><a href="{{ url('site_general_loyalty') }}">Программа лояльности</a></h2>
                    <p>Особо ценные предложения для<br>постоянных клиентов</p>
                </li>
                <li>
                    <h2><a href="{{ url('site_general_contacts') }}">О компании</a></h2>
                    <p>Контакты, реквизиты,<br>сотрудничество</p>
                </li>
            {% endspaceless %}
        </ul>
        <div class="text-center">
            <a href="javascript:void(0);"
               data-modal-caption="Заказать тур"
               data-modal-subcaption="Пожалуйста, оставьте свои контактные данные: мы свяжемся с Вами и подробно проконсультируем по интересующему Вас туру в ближайшее время с 10 до 19 часов"
               data-modal-from="Кнопка Заказать тур на главной странице"
               class="order show-modal">
                <div class="order-tour">Заказать тур</div>
                <div class="order-by-phone">оформление по телефону</div>
            </a>
            <div class="feedback">
                Бесплатно: 8 800 775-12-57 &bull;
                8 (3852) 229-281 &bull;
                <a href="mailto:manager-master-em@mail.ru">manager-master-em@mail.ru</a>
            </div>
        </div>
        <ul class="text-center share">
            <li class="vk"><div class="icon"></div><a href="http://vk.com/club64199799">ВКонтакте</a></li>
            <li class="fb"><div class="icon"></div><a href="https://www.facebook.com/profile.php?id=100006197748794">Фэйсбук</a></li>
            <li class="ok"><div class="icon"></div><a href="http://ok.ru/profile/348851418583/album/771236056535">Одноклассники</a></li>
            <li class="instagram"><div class="icon"></div><a href="https://instagram.com/p/0rtb85k-ko/">Инстаграм</a></li>
        </ul>
    </div>
    {% include 'MasterSiteBundle::footer.html.twig' %}
{% endblock %}

{% block body_additions %}
    <script>
        $(document).ready(function() {
            $('.filter-type a').click(function() {
                $(this).parent().addClass('active').siblings().removeClass('active');
                var ul = $('ul.tours');
                var type = $(this).attr('data-type');
                var location = $('.filter-location li.active a').attr('data-location');
                ul.children('li').stop(true, true).hide();
                if (location > -1) ul.children('li[data-type="' + type + '"][data-location="' + location + '"]').stop(true, true).fadeIn(250);
                else ul.children('li[data-type="' + type + '"]').stop(true, true).fadeIn(250);
            });
            $('.filter-location a').click(function() {
                $(this).parent().addClass('active').siblings().removeClass('active');
                var ul = $('ul.tours');
                var location = $(this).attr('data-location');
                if (location == -1) {
                    $('.filter-type a').parent().removeClass('active');
                    ul.children('li').stop(true, true).fadeIn(250);
                }
                else {
                    var type = -1;
                    if ($('.filter-type li.active a').length > 0) type = $('.filter-type li.active a').attr('data-type');
                    ul.children('li').stop(true, true).hide();
                    if (type > -1) ul.children('li[data-type="' + type + '"][data-location="' + location + '"]').stop(true, true).fadeIn(250);
                    else ul.children('li[data-location="' + location + '"]').stop(true, true).fadeIn(250);
                }
            });
        });
    </script>
{% endblock %}