<!DOCTYPE html>
<html>
<body>
    <h1>Новая заявка с сайта</h1>
    Имя: <strong>{{ name|e }}</strong><br>
    Номер телефона: <strong>{{ phone|e }}</strong><br>
    E-mail: <strong>{{ email|e }}</strong><br>
    Откуда: <Strong>{{ from|e }}</Strong><br>
    GET-параметры: <strong>{{ query|e }}</strong>
</body>
</html>